* {
    box-sizing: border-box;
}

body {
	padding: 30px;
	font-family: sans-serif;
}

header {
	background: #cccccc;
}

section {
	background: #f8a707;
	width: 75%;
	float: right;
}

article {
	background: white;
	margin: 0 0 1rem 0;
}

aside {
	background: #da11f5;
	width: 25%;
	float: left;
}

header, article, section, .module {
	padding: 1rem;
}

