<!DOCTYPE html>
<html>
<head>
	<meta charset='UTF-8'><meta name="robots" content="noindex">
	<title>Page Layout</title>	
	<link rel="stylesheet" type="text/css" href="styles/style.css">
</head>
<body>
	<main>
	  	<header>
		 	<h1>Make the boxes below line up. Retain the existing padding.</h1>
	  	</header>
	  	<aside>
		 	<div class="module">
		   		<h3>Complementary</h3>
		   		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio rem ab delectus fugit repellendus perspiciatis dolor consequuntur tenetur voluptatem a vitae odit aspernatur? Voluptas quisquam corporis nostrum aspernatur aliquid harum saepe ab pariatur veniam iste ipsam alias nemo voluptatibus doloribus.</p>
		 	</div>
	  	</aside>
	  	<section>
		 	<article>
		   		<h2>Article Title</h2>
		   		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo molestias ex officia eligendi reiciendis fuga magnam? Ullam ut ab doloremque accusamus iusto aliquam facilis sapiente!</p>
		 	</article>
		 	<article>
		   		<h2>Article Title</h2>
		   		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo molestias ex officia eligendi reiciendis fuga magnam? Ullam ut ab doloremque accusamus iusto aliquam facilis sapiente!</p>
		 	</article>
	  	</section>
	</main>
</body>
</html>